:root {
	--black: #161616;
	--gray: #8a8a8a;
	--white: #ffffff;
	--red: #bf0000;

	--outer-margin: 2.5rem;
	--space: 3rem;
	--space-small: 1rem;
	--gutter: 1.5rem;
	--navbar-height: 80px;
	--background: var(--white);
	--foreground: var(--black);
	--line-height: 1.35em;

	--z-sidenavbar: 900;
	--z-navbar: 1000;
	--z-logo: 2000;

	@include mq($until: desktop) {
		--outer-margin: 0.8rem;
		--gutter: 0.8rem;
		--space: 1rem;
		--space-small: 0.5rem;
	}
}

body {
	width: 100%;
	font-size: 100%;
	line-height: 1em;
	color: var(--foreground);
	background-color: var(--background);
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "liga", "kern";
	padding: var(--outer-margin);
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

main {
	min-height: calc(100vh + var(--navbar-height));
}

.grid {
	display: flex;
	flex-direction: column;

	@include mq($from: desktop) {
		display: grid;
		column-gap: var(--gutter);
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}
}

.button {
	background-color: var(--white);
	padding: 0.5rem;
	padding-left: 0.7rem;
	padding-right: 0.7rem;
	display: inline-block;
	margin-top: var(--space-small);

	&:hover {
		color: var(--foreground) !important;
	}
}

button {
	color: var(--black);
}

a {
	text-decoration: none;
	color: var(--foreground);
	transition: color 0.3s ease-in-out;

	@include mq($from: desktop) {
		&:hover {
			color: var(--orange);
			border-color: var(--black) !important;
		}
	}

	&:active {
		color: var(--orange);
	}
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: calc(100% - 1em);
	background-position-y: center;
	color: var(--black);
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	background: var(--beige-light);
}

::-webkit-scrollbar:vertical {
	width: 0.7rem;
}

::-webkit-scrollbar:horizontal {
	height: 0.7rem;
}

::-webkit-scrollbar-thumb {
	background: var(--black);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

figure div {
	max-width: none !important;
}