//@import "./payload/theme/app.scss";

.live-preview-window {
  width: 50%;
}

.live-preview__main {
  width: 50%;

}

body {
  .nav__scroll {
    //background-color: rgb(160, 214, 169);
  }

  .document-fields__main {
    //max-width: 800px;
  }
}

:root {
  --nav-width: 150px;
  //--theme-baseline-body-size: 16px;
  //--theme-baseline: 26px;
}