.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  right: 0;
  margin: 0.3rem;

  button {
    padding: 0;
    border: 0;
    margin-left: 1ch;
    background-color: transparent;
    color: var(--black);
  }
}